.*.swp
\#*#
*.pyc
*.o
*.hi
*.dump
*.log
*.rej
*.orig
*.patch
*.diff
.tags*
.deps
*.pdf

# Ignore IDE files
/.idea/
/nbproject/

reports/

.Module.symvers.cmd
.homa.ko.cmd
.homa.mod.cmd
.homa.mod.o.cmd
.homa.o.cmd
.homa_incoming.o.cmd
.homa_offload.o.cmd
.homa_outgoing.o.cmd
.homa_peertab.o.cmd
.homa_plumbing.o.cmd
.homa_pool.o.cmd
.homa_socktab.o.cmd
.homa_timer.o.cmd
.homa_utils.o.cmd
.modules.order.cmd
.timetrace.o.cmd
Module.symvers
homa.ko
homa.mod
homa.mod.c
modules.order
util/buffer_client
util/buffer_server
util/cp_node
util/get_time_trace
util/homa_prio
util/homa_test
util/logs/
util/receive_raw
util/scratch
util/send_raw
util/server
util/smi
util/test_time_trace
util/use_memory
